/*#plano{
    width: 550px;
    height: 300px;
}*/

#plano{
    width: 1150px;
    height: 300px;
}

.cajita{
    width: 50px;
    height: 50px;
    background-color: silver;
    float: left;
}

.fuera{
    background-color: yellow;
}

.columna{
    background-color: orange;
}

.camino{
    background-color: black;
}

.pasos{
    background-image: url("../img/rastros.png");
    background-size: cover;
}

/*.ninot-invertido {
    transform: scaleX(-1);
    background-size: cover;
}*/

.ninot{
    background-image: url("../img/bb8.png");
    background-size: cover;
}

.momia{
    background-image: url("../img/momia.png");
    background-size: cover;
}

.descubrir{
    background-color: #26ade3;
}

#score {
    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 30px;
}

.pergaminoEspada{
    background-image: url("../img/sable_pergamino.webp");
    background-repeat:no-repeat ;
    background-size: cover;

}

.cofre {
    background-image: url("../img/cofreRebelde.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.llaveEstrellaMuerte{
    background-image: url("../img/llaveEstrellaMuerte.png");
    background-size: cover;
    background-repeat:no-repeat ;
}

.sarcofagoXWing{
    background-image: url("../img/sarcofagoXWing.png");
    background-repeat:no-repeat;
    background-size: cover;

}