body{
    background-color: #111111;
}


#reproductor {
    position: relative;
    width: 720px;
}

video {
    margin-top: 10px;
    margin-left: 10px;
    border: 10px solid #CCCCCC;
    border-radius: 5px;
}

#barra {
    position: relative;
    bottom: 1.1em;
    margin-top: 10px;
    margin-left: 10px;
    width: 720px;
    height: 16px;
    border: 10px solid #CCCCCC;
    background: #999999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#progreso {
    width: 0;
    height: 16px;
    background: rgba(0,0,150,.2);
}

aside {
    position: relative;
    left: 20%;
    display: flex;
    flex-direction: row;
    margin-right: 10em;
    width: 30%;
    height: 2em;
    justify-content: space-between;
}

input {
    background-color: #26ade3;
    color: white;
    margin: 2px;
    border-radius: 5px;
    width: 120%;
    height: 50px;
}

#videos video{
    position: relative;
    display: block;
    width: 50%;
    left: 120%;
    bottom: 520px;
    cursor: pointer;
}

#bloquear {
    position: absolute;
    left:20px;
    top:0;
    width: 120%;
    height: 75%;
    background-color: black;
    opacity: .3;
    z-index: 1;
}


.panel{
    position: absolute;
    background-color: red;
    width: 65%;
    height: 25%;
    z-index: 2;
    left: 14%;
    bottom: 60%;
    font-size: 40px;
    display: flex

}

.oculto{
    display: none;
}


span{
    align-self: flex-end;
    font-family: sans-serif;
}

button{
    position: relative;
    width: 60px;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
    left: 85%;
    font-weight: bold;
    font-size: 40px;
    background-color: red;
    border: none;
    cursor: pointer;
}

#barra{
    width: 100%;
    accent-color: red;
    transition: 0.1s;
}